  * {
      box-sizing: border-box;
  }

  main {
    background: linear-gradient(to bottom, rgb(217, 242, 214), rgb(255, 237, 246), rgba(53, 139, 63, 0.384));
    padding-bottom: 4em;
  }

/*Navigation Section*/

  .logo {
    width: 5em;
  }
  
  i:hover {
    color: rgb(4, 75, 4);
    text-shadow: 0 0 2em rgb(255, 255, 186);
    cursor: pointer;
  }
  
  .menu-button {
    color: rgb(64, 102, 67);
    border: 0;
  }

  .cart-button {
    color: rgb(54, 89, 57);
    border: 0;
  }

  .navigation {
    background: white;
  }

  .nav-bg {
    background: linear-gradient(to bottom, rgb(231, 242, 230), rgba(255, 255, 255), rgba(255, 255, 255, 0.76));
  }

  .navbar-text {
    font-size: 0.9em;
    font-weight: 600;
    color: black;
  }

  .navbar-text:hover {
    color: rgb(70, 186, 70);
  }

  .li-text {
    font-size: 0.9em;
  }

  .search {
    background: rgb(255, 255, 255);
  } 
  
/*Alert Section*/

  #register-now {
    background: linear-gradient(to right, rgb(23, 84, 17), rgba(5, 67, 9));
    color: white;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1em;
    z-index: 999;
    border-radius: 0;
  }
  
  .redeem-gift {
    border-radius: 1.2em;
    font-size: 1em;
  }
  
  .redeem-gift:hover {
    box-shadow: 0 0 2em yellow;
  }
  
  .icon-gift {
    font-size: 1.1em ;
  }
  
  .icon-gift:hover {
    color: white;
    font-size: 1.2em;
  }
  
  .btn-close {
    color: white;
  }

/*For spacing only*/

  .margin {
    margin-top: 3em;
    margin-bottom: 3em;
    border: 0;
  }

/*Carousel*/

  .parallax {
    padding-top: 3em;
    padding-bottom: 5em;
    background: url(leaves.jpg) repeat fixed 100%;
    background-size: 100%;
    height: auto;
  }

  .parallax-inner {
    padding-top: 5em;
    padding-bottom: 0;
  }

  .parallax-inner h2 {
    font-family: 'Dancing Script';
    font-size: 10vw;
    text-align: center;
    color: rgb(192, 255, 186);
  }

  .parallax-inner h4 {
    font-family: 'Dancing Script';
    font-size: 7vw;
    text-align: center;
    color: rgb(253, 219, 196);
  }

  .carousel-text button {
    background-color: rgb(60, 138, 60);
    color: rgb(255, 255, 255);
    border-radius: 1.5em;
    border: 0;
    padding: 0.3em 1em 0.5em;
    font-size: 1.2em;
  }

  .carousel-text button:hover {
    background-color: rgb(202, 244, 192);
    color: black;
  }

  .carousel-mobile-text {
    font-size: 3vw;
  }

  /*Featured Services*/

  .services-button {
    border-radius: 1em;
    padding: 0.4em 1.4em;
    border: 0;
    background-color: rgb(9, 103, 9);
    color: white;
  }

  .services-button:hover {
    background-color: rgb(202, 244, 192);
    color: black;
  }

  .card-dimensions-services {
    width: auto;
    min-height: 18em;
    box-shadow: 1em 1em 2em rgb(5, 66, 5);
    overflow: hidden;
    position: relative;
    transition: 0.5s ease-in-out;
  }

  .card-dimensions-services:hover {
    cursor: pointer;
    box-shadow: 0 1em 2em rgb(65, 158, 65);
    background: rgb(255, 255, 255);
    border: 0;
    transform: translateY(0.5em);
  }

  .card-dimensions-services:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(9, 48, 3), rgba(255, 224, 184, 0.227));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }

  .card-dimensions-services:hover:before {
    opacity: 1;
  }

  .card-info-services  {
    text-align: center;
    padding: 2em;
    position: absolute;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }

  .card:hover .card-info-services {
    opacity: 1;
    transform: translateY(0px)
  }

  .card-info-services button {
    border: 0;
    background-color: rgb(32, 129, 32);
    color: white;
    border-radius: 1em;
    padding: 0.5em 1em;
  }

  .card-info-services button:hover {
    border: 0;
    background-color: rgb(125, 217, 125);
    color: rgb(0, 0, 0);
    border-radius: 1em;
    padding: 0.5em 1em;
  }

  /*Social Media side-bar*/

  .socmed-icons {
    display: flex;
    flex-direction: column;
    position: sticky;
    float: left;
    top: 66%;
    margin: 0;
    background: linear-gradient(to right, rgb(23, 84, 17), rgba(5, 67, 9, 0.397));
    background-color: green;
    backdrop-filter: blur(1em);
    font-family: Poppins, sans-serif;
    width: 3em;
    gap: 0.2em;
    border-radius: 0 20px 20px 0;
    z-index: 999;
  }

  .socmed-icons button {
    padding: 0.3em 0 0.3em;
    font-size: 1.4em;
  }

  .socmed-icons i {
    color: rgb(252, 255, 253);
    text-decoration: none;
  }

  .socmed-icons i:hover {
    color: rgb(200, 255, 209);
    text-decoration: none;
  } 
  
/*Featured Products*/

.lato {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.price {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
}

  .spray-icon {
    width: 3em;
    height: 3em;
  }

  .card-row {
    width: auto;
    padding: 1em;
  }

  .card-dimensions {
    box-shadow: 1em 1em 2em rgb(5, 66, 5);
    overflow: hidden;
    position: relative;
    transition: 0.5s ease-in-out;
  }

  .card-dimensions:hover {
    cursor: pointer;
    box-shadow: 1em 1em 2em rgb(65, 158, 65);
    background: rgb(255, 255, 255);
    border: 0;
    transform: translateY(0.5em);
  }

  .card-dimensions:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(8, 64, 3), rgba(255, 218, 224, 0.227));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }

  .card-dimensions:hover:before {
    opacity: 1;
  }

  .card-info  {
    width: 100%;
    text-align: center;
    padding: 1.2em;
    position: absolute;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }

  .card:hover .card-info {
    opacity: 1;
    transform: translateY(0px)
  }

  .card-info button {
    border: 0;
    background-color: rgb(65, 177, 65);
    color: white;
    border-radius: 1em;
    padding: 0.5em 1em;
    margin-top: 0.5em;
  }

  .card-info button:hover {
    border: 0;
    background-color: rgb(125, 217, 125);
    color: rgb(0, 0, 0);
    border-radius: 1em;
    padding: 0.5em 1em;
  }
  
/**Img class**/

  .product {
    width: 1em;
  }

/*Our Company*/

  .company-icon {
    width: 5em;
    margin: 0 auto;
  }

  .our-company {
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-bottom: 0;
  }

  .company-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .company-text {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
  }

  .card-dimensions-company {
    width: auto;
    min-height: 18em;
    /* box-shadow: 1em 1em 2em rgb(5, 66, 5); */
    overflow: hidden;
    position: relative;
    transition: 1s ease-in-out;
  }

  .card-dimensions-company:hover {
    cursor: pointer;
    box-shadow: 0 0 2em rgb(65, 158, 65);
    /* background: rgb(255, 255, 255); */
    border: 0;
    transform: translateY(0.5em);
  }

  .card-dimensions-company:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(8, 46, 8), rgba(3, 28, 8, 0.833));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }

  .card-dimensions-company:hover:before {
    opacity: 1;
  }

  .card-info-company  {
    text-align: center;
    padding: 1em;
    position: absolute;
    z-index: 3;
    color: rgb(255, 255, 255);
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }

  .card:hover .card-info-company {
    opacity: 1;
    transform: translateY(0px)
  }

/*Our Partners*/

  .partners-caption {
    padding-top: 1em;
  }

  .partners {
    background: white;
    width: 5em;
    height: auto;
    border-color: green;
    border: 0.1em solid rgba(0, 128, 0, 0.396);
    padding: 0.5em;
    border-radius: 25px;
  }

  .view-more {
    background-color: rgb(64, 209, 64);
    color: black;
    font-weight: 700;
    border-radius: 1.4em;
    border: 0;
    padding: 0.5em 1.6em;
    cursor: pointer;
  }

  .view-more:hover {
    background-color: rgb(17, 73, 28);
    color: #fff;
    font-weight: 700;
  }

  .nav-pills {
    margin-right: 10em;
  }

  .parallax2 {
    padding-top: 0.4em;
    padding-bottom: 4em;
    background: url(leaves2.jpg) repeat fixed 100%;
    background-size: 100%;
    height: auto;
  }

  .parallax-about {
    border-radius: 2em;
  }

  .read-blog {
    border-radius: 1.2em;
    padding: 0.5em 1em;

  }

  .read-blog:hover {
    color: white;
  }

/*Footer Section*/

  footer {
    height: auto;
    padding-top: 0;
    padding-bottom: 1em;
  }   

  .footer-logo {
    margin: 1em auto;
    width: 5em;
    height: 5em;
  }

  .footer-list {
    margin-top: 3em;
    list-style: none;
  }

  .footer-anchor {
    color: rgb(2, 23, 2);
    text-decoration: none;
  }

  .footer-anchor:hover {
    color: rgb(46, 161, 46);
  }

  @media all and (max-width: 992px) {
    #register-now {
      padding: 1em 0 1em;
  }
  
    .btn-close {
      color: white;
  }
  }

  @media all and (max-width: 768px) {
    .partners {
      width: 4em;
      height: auto;
      border-color: green;
      border: 0.1em solid rgba(0, 128, 0, 0.396);
      padding: 0.5em;
      border-radius: 25px;
    }
  }

  @media all and (max-width: 500px) {
    .parallax-inner h2 {
      font-size: 3.2em;
    }
  
    .parallax-inner h4 {
      font-size: 2em;
    }

    .star-icon {
      font-size: 0.9em;
      
    }

    .card-title {
      font-size: 1.2em;
    }
  }

  @media all and (max-width: 319px) {

    .star-icon {
      font-size: 0.7em;
      
    }

    .card-title {
      font-size: 1em;
    }
  }