  * {
      box-sizing: border-box;
  }

  .lato {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
  }

  .price {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

/*Navigation Section*/

  .logo {
    width: 5em;
  }
  
  i:hover {
    color: rgb(4, 75, 4);
    text-shadow: 0 0 2em rgb(255, 255, 186);
    cursor: pointer;
  }
  
  .menu-button {
    color: rgb(64, 102, 67);
    border: 0;
  }

  .cart-button {
    color: rgb(54, 89, 57);
    border: 0;
  }

  .navigation {
    background: white;
  }

  .navbar-text {
    font-size: 0.8em;
    font-weight: 600;
    font-style: italic;
  }

  .li-text {
    font-size: 0.9em;
  }

  .search {
    background: rgb(255, 255, 255);
  } 
  
/*Alert Section*/

  #register-now {
    background: linear-gradient(to right, rgb(23, 84, 17), rgba(5, 67, 9));
    color: white;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1em;
    position: sticky;
    top: 0;
    z-index: 999;
    border-radius: 0;
  }
  
  .redeem-gift {
    border-radius: 1.2em;
    font-size: 1em;
  }
  
  .redeem-gift:hover {
    box-shadow: 0 0 2em yellow;
  }
  
  .icon-gift {
    font-size: 1.1em ;
  }
  
  .icon-gift:hover {
    color: white;
    font-size: 1.2em;
  }
  
  .btn-close {
    color: white;
  }

/*For spacing only*/

  .margin {
    margin-top: 3em;
    margin-bottom: 3em;
    border: 0;
  }

/*Carousel*/

  .parallax {
    padding-top: 3em;
    padding-bottom: 5em;
    background: url(leaves.jpg) repeat fixed 100%;
    background-size: 100%;
    height: auto;
  }

  .parallax-inner {
    padding-top: 3em;
    padding-bottom: 0;
  }

  .parallax-inner h2 {
    font-family: 'Dancing Script';
    font-size: 10vw;
    text-align: center;
    color: rgb(192, 255, 186);
  }

  .parallax-inner h4 {
    font-family: 'Dancing Script';
    font-size: 7vw;
    text-align: center;
    color: rgb(253, 219, 196);
  }

  #bg-plants {
    margin-top: 3em;
    background-color: rgb(15, 60, 15);
  }

  .carousel-text h5 {
    color: rgba(30, 79, 24, 0.695);
    font-size: 2vw;
  }

  .carousel-text button {
    background-color: rgb(13, 62, 13);
    color: rgb(255, 255, 255);
    border-radius: 1.5em;
    border: 0;
    padding: 0.3em 1em;
    font-size: 1.2em;
  }

  .carousel-text button:hover {
    background-color: rgb(202, 244, 192);
    color: black;
  }
  
/*Featured Products*/

  .card-row {
    width: auto;
    padding: 1em;
  }

  .card-dimensions {
    width: auto;
    min-height: 18em;
  }

  .card-effect:hover {
    cursor: pointer;
    box-shadow: 0 0 2em green;
  }

/*Social Media side-bar*/

  .socmed-icons {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 70%;
    left: 0%;
    margin: 0;
    background: linear-gradient(to right, rgb(23, 84, 17), rgba(5, 67, 9, 0.397));
    backdrop-filter: blur(1em);
    font-family: Poppins, sans-serif;
    width: 2.9em;
    gap: 0.2em;
    border-radius: 0 20px 20px 0;
    z-index: 999;
  }

  .socmed-icons button {
    font-size: 1.5em;
  }

  .socmed-icons i {
    color: rgb(252, 255, 253);
    text-decoration: none;
  }

  .socmed-icons i:hover {
    color: rgb(200, 255, 209);
    text-decoration: none;
  } 

/*Our Company*/

  .company-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem;
  }

  .company-text {
    /* display: flex;
    flex-direction: column; */
    margin: 0 auto;
    width: 15em;
    padding: 1.5em;
    text-align: center;
    background-color: rgb(254, 254, 254);
    box-shadow: 10px 10px 50px rgba(25, 92, 8, 0.495);
}

/*Our Partners*/

  .partners-caption {
    padding-top: 1em;
  }

  .partners {
    background: white;
    width: 11vw;
    height: auto;
    border-color: green;
    border: 0.1em solid rgba(0, 128, 0, 0.396);
    padding: 0.5em;
    border-radius: 25px;
  }

  .product {
    width: 1em;
  }

  .view-spray {
    background-color: rgb(64, 209, 64);
    font-weight: 700;
    border-radius: 1.4em;
    border: 0;
    padding: 0.5em 1.6em;
    cursor: pointer;
  }

  .view-spray:hover {
    background-color: yellow;
    font-weight: 700;
  }

  .nav-pills {
    margin-right: 10em;
  }

  .parallax2 {
    padding-top: 0.4em;
    padding-bottom: 4em;
    background: url(leaves2.jpg) repeat fixed 100%;
    background-size: 100%;
    height: auto;
  }

  .parallax-about {
    opacity: 0.9;
    border-radius: 2em;
  }

  .read-blog {
    border-radius: 1.2em;
    padding: 0 1em;
  }

  .blog-img {
    width: 2em;
  }

/*Footer Section*/

  footer {
    background-color: rgb(205, 226, 205);
    height: auto;
  }

  .footer-logo {
    margin: 1em auto;
    width: 5em;
    height: 5em;
  }

  .footer-list {
    margin-top: 3em;
    list-style: none;
  }

  @media all and (max-width: 992px) {
    #register-now {
      padding: 1em 0 1em;
  }
  
    .btn-close {
      color: white;
  }
  }

  @media all and (max-width: 768px) {
    .partners {
      width: 6em;
      height: auto;
      border-color: green;
      border: 0.1em solid rgba(0, 128, 0, 0.396);
      padding: 0.1em;
      border-radius: 25px;
    }
  }

  @media all and (max-width: 500px) {
    .parallax-inner h2 {
      font-size: 3.2em;
    }
  
    .parallax-inner h4 {
      font-size: 2em;
    }

    .star-icon {
      font-size: 0.9em;
      
    }

    .card-title {
      font-size: 1.2em;
    }
  }

  @media all and (max-width: 319px) {

    .star-icon {
      font-size: 0.7em;
      
    }

    .card-title {
      font-size: 1em;
    }
  }