  * {
      box-sizing: border-box;
  }

  .logo {
    width: 5em;
  }
  
  i:hover {
    color: rgb(4, 75, 4);
    text-shadow: 0 0 2em rgb(255, 255, 186);
    cursor: pointer;
  }
  
  .menu-button {
    color: rgb(64, 102, 67);
    border: 0;
  }

  .cart-button {
    color: rgb(64, 102, 67);
    border: 0;
  }

  .navigation {
    background: linear-gradient(to bottom, rgba(54, 127, 54, 0.484), rgba(180, 243, 173, 0.584), rgb(254, 255, 254));
  }

  .navbar-text {
    font-size: 0.8em;
    color: rgb(3, 32, 3);
    font-style: oblique;
    font-weight: 700;
  }

  .search {
    background: rgb(255, 255, 255);
  } 
  
  #register-now {
    background: linear-gradient(to right, rgb(23, 84, 17), rgba(5, 67, 9));
    color: white;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1em;
    position: sticky;
    top: 0;
    z-index: 999;
    border-radius: 0;
    overflow: visible;
  }
  
  .redeem-gift {
    border-radius: 1.2em;
    font-size: 1em;
  }
  
  .redeem-gift:hover {
    box-shadow: 0 0 2em yellow;
  }
  
  .icon-gift {
    font-size: 1.1em ;
  }
  
  .icon-gift:hover {
    color: white;
    font-size: 1.2em;
  }

  .bottom-icon {
    color: white;
  }
  
  .btn-close {
    color: white;
  }
  
  #get-started {  
    border: 0;
  }
  
  #get-started:hover {  
    color: black;
    text-shadow: 0 0 5em black;
    box-shadow: 0 0 3em yellow;
  }
  
  .featured {
    background: none;
  }

  .margin {
    margin-top: 5em;
  }

  .parallax {
    padding-top: 0.3em;
    padding-bottom: 4em;
    background: url(leaves.jpg) repeat fixed 100%;
    background-size: 100%;
    height: auto;
  }

  .parallax-inner {
    padding-top: 3em;
    padding-bottom: 0;
  }

  .parallax-inner h2 {
    font-family: 'Dancing Script';
    font-size: 10vw;
    text-align: center;
    color: rgb(192, 255, 186);
  }

  .parallax-inner h4 {
    font-family: 'Dancing Script';
    font-size: 7vw;
    text-align: center;
    color: rgb(253, 219, 196);
  }

  #bg-plants {
    margin-top: 3em;
    background-color: rgb(15, 60, 15);
  }

  .carousel-text h5 {
    color: black;
  }

  .carousel-text p {
    color: black;
  }
  
  .card-row {
    width: auto;
    padding: 1em;
  }

  .card-dimensions {
    width: auto;
    min-height: 18em;
  }

  .socmed-icons {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 70%;
    left: 0%;
    margin: 0;
    background: linear-gradient(to right, rgb(23, 84, 17), rgba(5, 67, 9, 0.397));
    backdrop-filter: blur(1em);
    font-family: Poppins, sans-serif;
    padding: 1em 0 1em;
    padding-left: 0.1em;
    width: 3em;
    gap: 0.2em;
    border-radius: 0 20px 20px 0;
    z-index: 999;
  }

  .socmed-icons button {
    font-size: 1.5em;
  }

  .socmed-icons i {
    color: rgb(252, 255, 253);
    text-decoration: none;
  }

  .socmed-icons i:hover {
    color: rgb(200, 255, 209);
    text-decoration: none;
  }

  footer {
    background-color: rgb(13, 92, 13);
    height: 30em;
  }

  @media all and (max-width: 992px) {
    #register-now {
      padding: 1em 0 1em;
  }
  
    .btn-close {
      color: white;
  }
  }

  @media all and (max-width: 500px) {
    .parallax-inner h2 {
      font-size: 3.2em;
    }
  
    .parallax-inner h4 {
      font-size: 2em;
    }
  }